
  <style>
.checkbox{
 position:absolute;
 left:<%= obj.x %>px;
 top:<%= obj.y %>px; 
}
    </style>
    


          <span class="checkbox draggable"><input type="checkbox"  id="<%= obj.id %>" style=""/></span>
      


<script>
$(document).ready(function() {
 $("#<%= obj.id %>").click(function(){
   var id="<%= obj.id %>";
   var obj=findbyid(id);
   
   if($(this).is(':checked') ){   
     obj.state=1;
     pd._graph.objects[1].sendmessage(0, 1);
   }
   else{   
     obj.state=0;
     pd._graph.objects[1].sendmessage(0, 0);
   }
   
 });
});
</script>

